.helpmevideoDSC{
  width: 110vw;
  height: 110vh;
}
.helpmelandDSC{
  width: 105vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.infolandDSC{
  position: fixed;
  width: 30vw;
  display: flex;
  z-index: 10;
  color: white;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}
.helpmettlDSC{
  font-size:3rem;
  font-weight: 700;
}
.helpmesubttlDSC{
    font-size:1rem;
  font-weight: 500;
}
.helpmebtn{
  width: 13vw;
  padding: 10px;
  background-color: rgb(81, 124, 212);
  color: white;
  border-radius: 4px;
  margin-top: 2vh;
  transition: 0.2s all;
}
.helpmebtn:hover{
    background-color: rgb(62, 94, 158);
}
.actualDSC{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161616;
}
.loadingbarDSC{
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-top: 15vh;
}
.loadblock{
  background-color: gray;
  width: 135px;
  border-radius: 10px;
  height: 5px;
}
.typesDSC{
  width: 47vw;
  height: 70vh;
  background-size: 100% 100%;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
}
.rightslideOneDSC{
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftslideDSC{
  width: 35vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  
  margin-left: 5vw;
}
.btnDSC{
  border: 2px solid gray;
  padding: 16px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  color: rgb(181, 181, 181);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s all;
}
.chosenbtnDSC{
  border: 2px solid rgb(0, 106, 255);
  box-shadow: inset 0px 0px 2px rgb(0, 106, 255);
  font-weight: 700;
  color: white;
}
.firstslideDSC{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-left: 2vw;
  margin-top: 5vh;
}
.arrowleftDSC{
  width: 10px;
  height: 10px;
  background-image: url('/left-arrow.png');
  background-size: 100% 100%;
  filter: invert(0.8);
}
.backbtnDSC{
  margin-top: 3vh;
  width: 80px;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(212, 212, 212);
  cursor: pointer;
  transition: all 0.2s;
}
.backbtnDSC:hover{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.171);
}
.leftsidettlDSC{
  font-size: 2rem;
  color: white;
  font-weight: 600;
  width: 30vw;
  text-align: start;
}
.btnnextDSC{
  background-color: rgb(0, 74, 177);
  color: white;
  box-shadow: none;
  border: none;
  bottom: 0;
  margin-left: 2vw;
  margin-top: 10vh;
}
.btnnextDSC:hover{
  filter: brightness(1.1);
}
.firstslideDSC{
  width: 100%;
  display: flex;
  justify-content: center;
}
.actual2DSC{
    width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #161616;
}
.picchoiseDSC{
  width: 50vw;
  height: 60vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.descriptionttlDSC{
    font-size: 1.6rem;
  color: white;
  font-weight: 600;
  width: 30vw;
  margin-top: 2vh;
  text-align: start;
}
.descDSC{
      font-size: 1rem;
  color: rgb(164, 164, 164);
  font-weight: 500;
  width: 20vw;
  margin-top: 0vh;
  text-align: start;
}
.priceDSC{
       font-size: 1rem;
  color: rgb(164, 164, 164);
  font-weight: 600;
  width: 20vw;
  margin-top: 1.5vh;
  text-align: start;
}
.pricesubDSC{
         font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  width: 20vw;
  margin-top: 0vh;
  text-align: start;
}
.btnDSC2{
  background-color: rgb(0, 74, 177) ;
  margin-top: 4vh;
  padding: 16px;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s all;
}
.btnDSC2:hover{
  filter: brightness(1.1);
}
.leftsideDSC{
  display: flex;
  flex-direction: column;
  align-items: start;
}