#root{
  overflow-x: hidden;
}
.powerwallNRG{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/1M-Powerwalls-Powerwall-3-Hero-Desktop.png");
}
.vidcontNRGttl{
  margin-top: 20vh;
  font-size: 4rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.vidcontNRGsubttl{
    font-size: 1.3rem;
    font-weight: 500;
  color: white;
  z-index: 2;
}
.linkspowerNRG{
    display: flex;
    gap: 2vw;
    margin-top: 4vh;
}
.finNRG{
    display: flex;
    align-items: center;
    justify-content: center;
}
.finNRG:hover{
    color: white;
    filter: brightness(0.95);
}
.boxblockNRG{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ttlboxNRG{
  font-size: 3rem;
  font-weight: 600;
}
.infosubblockNRG{
  width: 100vw;
  margin-left: 5vw;
  justify-content: center;
  display: flex;
  gap: 2vw;
}
.phoneblockNRG{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.phonepicNRG{
  margin-top: 10vh;
  width: 80%;
  height: 60vh  ;
  background-size: 100% 100%;
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/max-efficiency-lower-cost-desktop.png");
}
.phoneinfoNRG{
  padding-bottom: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.phoneinfottlNRG{
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 4vh;
  width: 40%;
  text-align: start;
}
.subttlphoneNRG{
  margin-top: 4vh;
    font-size: 0.8rem;
    font-weight: 500;
    width: 55%;
    text-align: start;
}