.inArtFAQ{
    width: 20vw;
    position: fixed;
    left: 10vw;
    display: flex;
    color: black;
    height: 30vh;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 20px;
}
.linkFAQ{
    height: auto;
}
.ttlinArtFAQ{
      font-family: "Red Hat Display", sans-serif;
      font-weight: 700;
      font-size: 1.3em;
}
.linkFAQ{
    width: auto;
    display: flex;
    margin-bottom: 10px;
    font-family: "Red Hat Display", sans-serif;
      font-weight: 600;
      color: rgb(84, 84, 84);
      padding-bottom: 2px;
      transition: all 0.2s ease-in-out;
    border-bottom: 0px solid rgb(84, 84, 84);
     user-select: none; 
}
.linkFAQ:hover{
    cursor: pointer;
    text-decoration: underline;
    padding-bottom: 2px;
}
.rightinfoFAQ{
    margin-left: 20vw;
    color: black;
}
.rightTtlFAQ{
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
}
.boxinfoFAQ{
    margin-top: 10vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.boxTtblockFAQ{
    display: flex;
    text-align: left;
    align-items: last baseline;
    gap: 20px;
}
.boxttlFAQ{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;   
}
.showallFAQ{
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    color: rgb(150, 150, 150);
    transition: all 0.3s;
}
.showallFAQ:hover{
    cursor: pointer;
    filter: brightness(0.5);
}
.contFAQ{
    width: 44vw;
    text-align: left;
    height: 40px;
    transition: 0.2s all;
}
.contFAQACT{
    height: auto;
    transition: 0.2s all;
    margin-bottom: 10px;
}
.conttlFAQbox{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.conttlFAQbox:hover{
    filter: invert(0.3);
}
.arrowicon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('openlist.png');
    transition: 0.3s all;
    padding-bottom: 0px;
}
.arrowiconACT{
    transform: rotate(90deg);
}
.contFAQtxt{
    margin-left: 25px;
}