:root{
    user-select: none;
}
.leftpartITM{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    color:black;
}
.itemtitleITM{
    font-size: 1.7rem;
    font-weight: 700;
}
.itempriceITM{
    margin-top: 1vh;
    font-size: 1.5rem;
    font-weight: 600;
}
.addtocartITM{
    margin-top: 4vh;
    width: 350px;
     background-color: #007bff;
         transition: 0.3s;
}
.addtocartITM:hover{
    cursor: pointer;
    background-color: #000000;
    color: white;
}
.startingITM{
    margin-top: 1vh;
    font-size: 0.7rem;
    font-weight: 500;
}
.descriptionttlITM{
    margin-top: 2vh;
    font-size: 1.5rem;
    font-weight: 600;
}
.itemdescITM{
    text-align: left;
}
.itemfeatListITM{
    margin-top: 1vh;
}
.itemfeatITM{
    text-align: left;
}
.rightpartITM{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itempicITM{
    width: 40vw;
    height: 40vw;
    background-size: 100% 100%;
    background-position: center;
    border: 1px solid black;
}
.recitemsITM{
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}
.recitemITM{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.recitempicITM{
    width: 10vw;
    height: 10vw;
    border: 1px solid black;
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;
}
.recitempicITM:hover{
   background-size: 110% 110%;
}
.itemtitleITM{
    width: 40vw;
    margin-top: 3vh;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    text-align: left;
    justify-content: start;
}
.recitemtitleITM{
    width: 10vw;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
