#root {
  text-align: center;
       user-select: none; 
       overflow-y: hidden;
}
main {
  width:100%;
    font-family: "Red Hat Display", sans-serif;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  scrollbar-width: 10vw;
  filter: invert(1);
}
.contERROR{
    z-index: 1;
  position: fixed;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.header404{
}
.demo {
  width: 90%;
  height:90%;
  border-radius: 10px;
  border: dashed 2px var(--color-surface-white);
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  background: var(--color-ui-gradient);
  text-align: center;
  width: 300px; 
  height: 300px;
  line-height: 70px;
  background-color: white;
  color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 150px;
  border: 2px solid white;
  font-size: 2rem;
}

h4 {
  position:absolute;
/*  top:1rem; */
  color:var(--color-just-black);
}

.meters {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  width:88%;
  height:20vh;
  position:absolute;
  bottom:1rem;
}
.backERROR{
  width: 200px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.2s;
}
.backERROR:hover{
  background-color: white;
  color: black;
} 
.arrowdownERROR{
  width: 100px;
  height: 100px;
  background-image: url("right-arrow.png");
  background-position: center;
  background-size: 100% 100%;
  filter: invert(1);
  position: fixed;
  margin-left: 18vw;
  animation: arrErr 2s infinite ease-in-out;
}
@keyframes arrErr {
  0% { transform: translateX(0px) }
  50% { transform: translateX(40px) }
  100% { transform: translateX(0px) }
}
.contERRORinfo{
  display: flex;
  align-items: center;
}
.dot {
  position: absolute;
  background-color: #0ae448;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  will-change: transform, opacity;
  pointer-events: none;
  z-index: 10;
}